# please set your project account
export proj=""  # change me!

# remembers the location of this script
export MY_PROFILE=$(cd $(dirname $BASH_SOURCE) && pwd)"/"$(basename $BASH_SOURCE)
if [ -z ${proj-} ]; then echo "WARNING: The 'proj' variable is not yet set in your $MY_PROFILE file! Please edit its line 2 to continue!"; return; fi

# fix system defaults: do not escape $ with a \ on tab completion
shopt -s direxpand

module load gcc/9.3.0
module load openmpi/4.1.2
module load hdf5/1.12.1 # is parallel enabled already
module load miniforge3/24.11.3-2

export SW_DIR="${HOME}/sw/andes"
# On Andes, the access to the project directory doesn't have an environmental variable
export PROJSCRATCH="/lustre/orion/proj-shared/${proj}"

if [ -d "${SW_DIR}/venvs/warpx-andes" ]
then
  conda deactivate
  source ${SW_DIR}/venvs/warpx-andes/bin/activate
fi

# make output group-readable by default
umask 0027

export CMAKE_PREFIX_PATH=${SW_DIR}/c-blosc-1.21.1:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=${SW_DIR}/adios2-2.10.2:$CMAKE_PREFIX_PATH

export LD_LIBRARY_PATH=${SW_DIR}/c-blosc-1.21.1/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${SW_DIR}/adios2-2.10.2/lib64:$LD_LIBRARY_PATH

export PATH=${SW_DIR}/adios2-2.10.2/bin:$PATH

# an alias to request an interactive batch node for one hour
#   for paralle execution, start on the batch node: srun <command>
alias getNodeCpu="salloc -A $proj -J warpx -t 01:00:00 -p batch -N 1"
# an alias to run a command on a batch node for up to 30min
#   usage: runNode <command>
alias runNode="srun -A $proj -J warpx -t 00:30:00 -p batch -N 1"
